<h1><%= t "book_information" %></h1>

<div class="row">
  <div class="col-md-3">
    <p>
      <%= render "book_photo" %>
    </p>
  </div>

  <div class="col-md-8">
    <p><b><%= t "title" %>:</b> <b><%= @book.title %></b></p>
    <p><%= t "author" %>: <%= @book.author %></p>
    <p><%= t "publish_date" %>: <%= @book.publish_date %></p>
    <p><%= t "page" %>: <%= @book.page %></p>
    <p><%= t "category" %>: <%= @book.category.name %></p>
    <p><%= t "Rating" %>: <%= @book.rating %></p>
    <p><%= t "rated_by" %>: <%= @total_reviewer %></p>
  </div>

  <div class="col-md-1">
    <%= link_to t(:edit), edit_admin_book_path(@book),
            class: "btn btn-primary" %>
  </div>
</div>
