<h3><%= t :reading_history %></h3>

<table class="table">
  <thead>
    <th><%= t :book_title %></th>
    <th><%= t :author %></th>
    <th><%= t :status %></th>
  </thead>
  <tbody>
    <% @user_books.each do |user_book|%>
      <tr>
        <td><%= link_to user_book.book.title, user_book.book if user_book.book %></td>
        <td><%= user_book.book.author if user_book.book %></td>
        <td><%= user_book.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @user_books %>
<%= page_entries_info @user_books %>
