<h3><%= t :activities %></h3>

<% if @user_activities.any? %>
  <% @user_activities.each do |activity| %>
    <%= activity.owner.name if activity.owner %>
    <% if activity.key == "review.create" %>
      <%= t :created_reviews_for %>
      <%= link_to activity.trackable.book.title, book_path(activity.trackable.book) if activity.trackable %>
    <% elsif activity.key == "relationship.create" %>&nbsp;<%= t :followed %>
      <% followed_user = User.find_user activity.trackable.followed_id if activity.trackable %>
      <%= link_to followed_user.name, followed_user if activity.trackable %>
    <% elsif activity.key == "user_book.update" %>
      <%= t :book_status %>
      <%= link_to activity.trackable.book.title, book_path(activity.trackable.book) if activity.trackable %>
    <% elsif activity.key == "comment.create" %>&nbsp;<%= t :commented_on_review %>
      <%= link_to truncate(activity.trackable.review.content, length:15),
        book_path(activity.trackable.review.book) if activity.trackable %>
    <% else %>
      <%= activity.key %>
    <% end %>
    <%= t :at %>&nbsp<%= activity.created_at.to_s[0..-4] if activity.created_at %>
    <div>
      <table>
        <tr>
          <td><%= render "likes/like_form", activity: activity %></td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td>
            <span id="like-count-<%= activity.id %>">
              <%= render "shared/like_count", activity: activity %>
            </span>
          </td>
        </tr>
      </table>
      <hr><br>
    </div>
  <% end %>
<% end %>

<%= paginate @user_activities, param_name: "page" %>
<%= page_entries_info @user_activities, param_name: "page" %>