<h1><%= t :all_users %></h1>

<table class="table">
  <thead>
    <th></th>
    <th><%= t :name %></th>
    <th><%= t :email %></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.picture? %>
            <%= image_tag user.picture.url(:thumb)%>
          <% else %>
            <%= image_tag "default-user.png", class: "default_image_size" %>
          <% end %>
        </td>
        <td><%= link_to user.name, user %></td>
        <td><%= mail_to user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
<%= page_entries_info @users %>
