<h1><%= t :user_profile %></h1>
<div class="row">
  <div class="col-md-5">
    <p><%= render "user_picture" %></p>
    <%= render "shared/stats" %>
    <%= render "follow_form" %><br>
    <p><b><%= t :name %>: <%= @user.name %></b></p>
    <p><%= t :email %>: <%= @user.email %></p>
  </div>
</div>
<%= render "favorite_books_list" %><br>
<%= render "reading_history" %>
<div class="row">
  <div class="col-md-7">
    <h3><%= t :user_activity %></h3>
    <p><%= render "user_activity" %></p>
  </div>
</div>
</div>