<% @requests.each do |request| %>
  <tr>
    <td><%= request.title %></td>
    <td><%= request.author %></td>
    <td><%= request.publisher %></td>
    <td><%= link_to request.link, "http://#{request.link}" %></td>
    <td><%= request.status.humanize %></td>
    <% if request.pending? %>
      <td align="right">
        <%= link_to t(".cancel_button"), request_path(request,
        "request[status]": request.status), method: :put, data:{confirm:
        I18n.t("confirm_message")}, class: "btn btn-danger"  %>
      </td>
    <% end %>
  </tr>
<% end %>
