<tr>
  <% @requests.each do |request| %>
    <td><%= request.title %></td>
    <td><%= request.author %></td>
    <td><%= request.publisher %></td>
    <td><%= request.link %></td>
    <td><%= request.status %></td>
  <% end %>
</tr>