<h1><%= t ".sent_request" %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @request do |f| %>
      
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
      
      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>
      
      <%= f.label :publisher %>
      <%= f.text_field :publisher, class: "form-control" %>
      
      <%= f.label :link %>
      <%= f.text_field :link, class: "form-control" %>
      
      <%= f.submit t(".sent_request"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>