<h1><%= t "all_books" %></h1>

<%= search_form_for @search do |f| %>
  <%= f.label :category_id_eq, t("category") %>
  <%= f.select :category_id_eq, options_from_collection_for_select(@categories,
    :id, :name, @search.category_id_eq), {prompt: false},
      {class: "form-control"} %>
  <%= f.label :title_cont, t("title_contains") %>
  <%= f.text_field :title_cont, class: "form-control" %>
  <%= f.submit t("search"), class: "btn btn-primary"  %>
<% end %>

<table class="table">
  <thead>
    <th></th>
    <th><%= t "title" %></th>
    <th><%= t "author" %></th>
    <th><%= t "category" %></th>
    <th><%= t "publish_date" %></th>
    <th><%= t "page" %></th>
  </thead>
  <tbody>
    <% @books.each do |book|%>
      <tr>
        <td><%= image_tag book.book_photos.first.image_url(:thumb) %></td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.category.name %></td>
        <td><%= l book.publish_date, format: :short %></td>
        <td><%= book.page %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>
<%= page_entries_info @books %>
