<h1><%= t "all_books" %></h1>
<div class="pull-left">
  <div class="input-group" id="adv-search">
    <input readonly="true" type="text" class="form-control" placeholder="<%= t "books_search_placeholder" %>"/>
    <div class="input-group-btn">
      <div class="btn-group" role="group">
        <div class="dropdown dropdown-lg">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <%= search_form_for @search, class: "form-horizontal", role: "form" do |f| %>
              <%= render "search_fields", f: f %>
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <%= t"search" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <th></th>
    <th><%= t "title" %></th>
    <th><%= t "author" %></th>
    <th><%= t "category" %></th>
    <th><%= t "rating" %></th>
    <th><%= t "publish_date" %></th>
    <th><%= t "page" %></th>
  </thead>
  <tbody>
    <% @books.each do |book|%>
      <tr>
        <td><%= image_tag book.book_photos.first.image.url(:thumb) if
          book.book_photos.exists? %></td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= book.category.name %></td>
        <td><%= book.rating %></td>
        <td><%= l book.publish_date, format: :short %></td>
        <td><%= book.page %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @books %>
<%= page_entries_info @books %>
