<h1><%= t "all_books" %></h1>
<div class="pull-left">
  <div class="input-group" id="adv-search">
    <input readonly="true" type="text" class="form-control" placeholder="<%= t "books_search_placeholder" %>"/>
    <div class="input-group-btn">
      <div class="btn-group" role="group">
        <div class="dropdown dropdown-lg">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <%= search_form_for @search, class: "form-horizontal", role: "form" do |f| %>
              <%= render "search_fields", f: f %>
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <%= t"search" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<table class="table">
  <tbody>
    <% @books.each do |book|%>
      <tr>
        <td>
          <div class="row">
            <div class="col-md-2">
              <%= link_to image_tag(book.book_photos.first.image.url(:book_medium)), book %>
            </div>
            <div class="col-md-10">
              <div class="panel-body paddin-fix">
                <span id="book_title">
                  <font size="5"><span class="post_title"><%= link_to book.title, book %></span></font>
                </span>
                <span class="pull-right" >
                  <div id="book-star-rating">
                    <%= render "shared/star_rating", book: book %>
                  </div>
                </span>
                <br>
                <%= book.author %>
                <hr>
                <p><%= book.description.truncate 500 %></p>
                <hr>
                <table>
                  <tr>
                    <td><%= t "publish_date" %>: <%= book.publish_date %></td>
                    <td>&nbsp;&nbsp;</td>
                    <td><%= t "page" %>: <%= book.page %></td>
                  </tr>
                </table>
              </div>
              <br><br>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @books %>
<%= page_entries_info @books %>
