<h1><%= t "book_information" %></h1>
<div class="row">
  <div class="col-md-4">
    <p><b><%= t "title" %>:</b> <b><%= @book.title %></b></p>
    <p><%= t "author" %>: <%= @book.author %></p>
    <p><%= t "publish_date" %>: <%= @book.publish_date %></p>
    <p><%= t "page" %>: <%= @book.page %></p>
    <p><%= t "category" %>: <%= @book.category.name %></p>
    <p>
      <%= render "book_photo" %>
    </p>
  </div>
  <div class="col-md-8">
    <table>
      <tr>
        <td><%= render "shared/favourite" %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= render "shared/status_form" %></td>
      </tr>
    </table>
    <br>
    <div id="review_form">
      <%= render "reviews/form" unless @reviews.detect{|review|
      	review.user_id == current_user.id} %>
    </div>
    <div id="reviews-book">
      <%= render @reviews %>
    </div>
  </div>
</div>