<h1><%= t "book_information" %></h1>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @book.book_photos.first.image.
      url(:large) if @book.book_photos.exists? %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <span id="book_title">
          <%= @book.title %>
        </span>
        <span class="pull-right" >
          <div id="book-star-rating">
            <button class="btn btn-success btn-circle text-uppercase" id="rating-btn">
              <%= render "star_rating", book: @book %>              
            </button>
          </div>
        </span>
        <hr>
        <p><%= @book.description.truncate 700 %></p>
        <hr>
        <table>
          <tr>
            <td><%= render "shared/status_form" %></td>
            <td>&nbsp;&nbsp;</td>
            <td><%= render "shared/favourite" %></td>
          </tr>
        </table>
      </div>
    </div>
    <br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t "book_info" %></h3>
          </div>
          <div class="panel-body">
            <p><b><%= t "title" %>:</b> <b><%= @book.title %></b></p>
            <p><%= t "author" %>: <%= @book.author %></p>
            <p><%= t "publish_date" %>: <%= @book.publish_date %></p>
            <p><%= t "page" %>: <%= @book.page %></p>
            <p><%= t "category" %>: <%= @book.category.name %></p>
            <p><%= t "total_review" %>: <span id="book-rater"><%= @book.reviews.size %></span></p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t "book_photos" %></h3>
          </div>
          <div class="panel-body">
            <p>
              <%= render "book_photo" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div id="review_form">
      <%= render "reviews/form" unless @reviews.detect{|review|
        review.user_id == current_user.id} %>
    </div>
    <div class="tab-pane active" id="comments-logout">
      <ul class="media-list">
        <div id="reviews-book">
          <%= render @reviews %>
        </div>
      </ul>
    </div>
  </div>
</div>
