<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.user.name, "#" %></td>
    <td><%= request.title %></td>
    <td><%= request.author %></td>
    <td><%= request.publisher %></td>
    <td><%= request.link %></td>
    <td><%= request.status %></td>
    <td align="right">
      <%= link_to t(".approve_button"), "#", class: "btn btn-primary" %>
      <%= link_to t(".cancel_button"), "#",class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>