<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.user.name, user_path(request.user_id) %></td>
    <td><%= request.title %></td>
    <td><%= request.author %></td>
    <td><%= request.publisher %></td>
    <td><%= request.link %></td>
    <td><%= request.status %></td>
    <td align="right", id="drop_down">
      <%= form_for [:admin, request] do |f| %>
        <td><%= f.select :status, {collection: @statuses.keys.to_a}, {prompt: false}, {class: "form-control"} %></td>
        <td><%= f.submit t(".change_status"), class: "btn btn-primary" %></td>
      <% end %>
    </td>
  </tr>
<% end %>
