<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.user.name, "#" %></td>
    <td><%= request.title %></td>
    <td><%= request.author %></td>
    <td><%= request.publisher %></td>
    <td><%= request.link %></td>
    <td><%= request.status %></td>
    <td align="right", id="drop_down">
      <%= form_for [:admin, request] do |f| %>
        <td><%= f.select :status, collection: @statuses %></td>
        <td><%= f.submit t(".change_status"), class: "btn btn-success" %></td>
      <% end %>
    </td>
  </tr>
<% end %>