<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.user.name, "#" %></td>
    <td><%= request.title %></td>
    <td><%= request.author %></td>
    <td><%= request.publisher %></td>
    <td><%= request.link %></td>
    <td><%= request.status %></td>
    <td align="right">
      <%= link_to t(".delete_button"), admin_request_path(request), 
        class: "btn btn-danger",method: :delete, data: 
        {confirm: t("confirm_message")} %>
    </td>
  </tr>
<% end %>