<div class="row">
  <%= t "write_review" %>
  <%= form_for [@book, @review], remote: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.hidden_field :book_id, value: @book.id %>

    <%= f.label :rating %>
    <%= f.select :rating, (1..5), {prompt: false}, {class: "form-control"} %>

    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>

    <%= f.submit t(:add_review), class: "btn btn-primary" %>
  <% end %>
</div>
