<li class="media" id="review_<%= review.id %>">
  <a class="pull-left" href="#">
    <% if review.user.picture? %>
      <%= image_tag review.user.picture_url(:thumb), class: "media-object img-circle" %>
    <% else %>
      <%= image_tag "default-user.png", class: "media-object img-circle default_image_size" %>
    <% end %>
  </a>
  <div class="media-body">
    <div class="well well-lg">
      <h4 class="media-heading text-uppercase reviews">
        <%= link_to review.user.name, review.user %>
      </h4>
      <ul class="media-date text-uppercase reviews list-inline">
        <%= time_ago_in_words(review.created_at) %> <%= t "ago" %>.
        <% if can? :edit, review %>
          <%= link_to t("Edit"), "#", "data-toggle": "modal", "data-target": "#edit_review_#{review.id}" %>
          <div class="modal fade" id="<%= "edit_review_#{review.id}" %>"
            tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel"><%= t "review.edit-review" %></h4>
                </div>
                <div class="modal-body" id="edit-review-form-<%= review.id %>">
                  <%= render "reviews/edit_modal", review: review %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <%= t "review.close" %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if can?(:destroy, review) %>
          <%= link_to t(:delete), review, remote: true, method: :delete,
            data: {confirm: t(:confirm_message)} %>
        <% end %>
      </ul>
      <p class="media-comment">
        <%= t "rating" %>:
        <span id="review-rating-<%= review.id %>"><%= review.rating %></span> <br>
        <span id="review-content-<%= review.id %>">
          <%= review.content %>
        </span>
      </p>
      <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#reply<%= review.id %>">
        <span class="glyphicon glyphicon-comment"></span> <%= t "comments" %>
      </a>
    </div>
  </div>

  <div class="collapse" id="reply<%= review.id %>">
    <div id="comments_of_review_<%= review.id %>">
      <ul class="media-list">
        <div id="comments-review-<%= review.id %>">
          <%= render review.comments.latest %>
        </div>

        <div id="comments-review-form-<%= review.id %>">
          <%= render "comments/form", review: review %>
        </div>
      </ul>
    </div>
  </div>
</li>
