<ol class="entries">
  <li id="review_<%= review.id %>">
    <%= image_tag review.user.picture_url :thumb %>
    <span class="user"><%= link_to review.user.name, review.user %></span>
    <span class="timestamp">
      <%= t "reviewed" %> <%= time_ago_in_words(review.created_at) %> <%= t "ago" %>.
      <% if can?(:destroy, review) %>
        <%= link_to t(:delete), review, remote: true, method: :delete,
          data: {confirm: t(:confirm_message)} %>
      <% end %>
    </span>
    <span class="content">
      <%= t "rating" %>: <%= review.rating %> <br>
      <%= review.content %>
    </span>
    <div id="comments_of_review_<%= review.id %>" class="row">
      <span class="content">
        <b><%= t "comments" %></b>
        <div id="comments-review-form-<%= review.id %>">
          <%= render "comments/form", review: review %>
        </div>
      </span>
    </div>
  </li>
</ol>
