<footer class="footer">
  <small>
    <%= t "system_name" %>
    <a href="https://www.facebook.com/FramgiaBangladesh" target="_blank">
      © Framgia Bangladesh 2015
    </a>
  </small> <br>
  <small>
    <%= t "dev_by" %> <a href="<%= contact_path %>">Team Alpha (Tamzid, Sujoy, Mahmudur, Zenith, Shakil)</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
    </ul>
  </nav>
</footer>
